@media all and (min-width: 480px) {
  .title{
    font-weight:bolder;
    color: #995050;
    font-size: 3x 0px;
    position:relative;
    align-items:center;
    justify-content: center;
  }
    .Login {
      padding: 60px 0;
    }
    .labelOne{
      color: #995050;
      font-size: 15px;
      position:relative;
      padding:20px;
    }
    .labelType{
      font-weight:bolder;
      color: #995050;
      font-size: 30px;
      position:relative;
    }
    .centered {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .Login header {
        margin: 0 auto;
        max-width: 320px;
        position: relative;
        left: 200px;
    }
    .Login form {
      margin: 0 auto;
      max-width: 320px;
      position: absolute;
      left: 200px
    }
  }